body{
    margin: 0;
    padding: 0;
    background: url(../images/varios.png) no-repeat center top;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.recContrasena2{
    width: 430px;
    height: 440px;
    background: #000;
    color: floralwhite;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.recContrasena2 h1{
    margin: 0;
    padding: 0 0 20;
    text-align: center;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium';
}

.recContrasena2 input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid floralwhite;
    background: transparent;
    outline: none;
    height: 40px;
    color: floralwhite;
    font-size: 16px;
}

.recContrasena2 input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}