body{
    margin: 0;
    padding: 0;
    background: url(../FONDOS/Blog.jpg) no-repeat center top;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 150vh;
}
.titulo1{
    width: 20px;
    height: 4px;
    color: black;
    margin-top: 0.01%;
    margin-left: 2%;
}

.titulo2{
    width: 360px;
    height: 820px;
    color: black;
}

.titulo1 h1{
    font-family: 'Oswald';
    font-size: 80px;
    text-align: left;
    line-height: 100%;
}

.titulo1 input{
    border: none;
    outline: none;
    height: 40px;
    width: 600px; 
    border-radius: 10px;;
    margin-left: 5px;
    margin-bottom: 1px;
}

.titulo2 h2{
    font-family: 'Dancing Script';
    font-size: 140px;
    text-align: left;
    margin-left: 100%;
    margin-top: 0%;
}

.inputCrearBlog{
    margin-right: 10%;
    width: 400px;
    height: 420px;
    color: black;
    top: 10%;
    left: 70%;
    position: absolute;
    box-sizing: border-box;
}
.inputCrearBlog input[type="submit"]{
    margin-left: 10%;
    border: none;
    outline: none;
    height: 60px;
    width: 300px;
    background: rgb(3, 205, 255);
    color:black;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 10px;
}
