<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>
        <link rel="stylesheet" href="static/css/Blogs.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&family=Oswald:wght@500&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="titulo1">
            <h1>
                DESCUBRE <br />
                NUESTROS
            </h1>
            <input type="search" placeholder="BUSCAR UN BLOG" />
        </div>

        <div class="titulo2">
            <h2>Blogs</h2>
        </div>

        <div class="inputCrearBlog">
            <input type="submit" value="CREAR NUEVO BLOG" />
           </div>
        <div class="botones">
            <button type="submit"><img src="editar.png" alt="editar"/>EDITAR</button>
            <input type="submit" value="ELIMINAR" />
            <input type="submit" value="COMENTAR" />
        </div>
    </body>
</html>
