<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bloggy - Pagina Principal</title>
        <link rel="stylesheet" href="static/css/index.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Slab:wght@300&family=Rochester&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="espacioCuadroAzul">
            <div class="cuadroAzul"></div>
        </div>
        <div class="contenido">
            <div class="ladoIzquierdo">
                <div class="tituloPrincipal">
                    <h1>¿Quieres crear tu propio blog?</h1>
                </div>
            </div>
            <div class="ladoDerecho"></div>
        </div>
        <!-- <div class="registro">
            <h2>¡Regístrate aquí y empieza!</h2>
            <button class="">registrarse</button>
        </div>
        <div class="iniciosesion">
            <input type="button" value="INICIAR SESIÓN" />
            <input type="search" placeholder="BUSCAR UN BLOG" />
        </div> -->
    </body>
</html>
