<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bloggy - Página Principal</title>
        <link rel="stylesheet" href="static/css/index.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Slab:wght@300&family=Rochester&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="registro">
            <h1>¿Quieres crear tu propio blog?</h1>
            <h2>¡REGÍSTRATE AQUÍ Y EMPIEZA!</h2>
            <form action="/registrar">
                <input type="submit" value="REGISTRARSE" />
            </form>
        </div>
        <div class="iniciosesion">
            <form action="/login">
                <input type="submit" value="INICIAR SESIÓN" />
            </form>
            <input type="search" placeholder="BUSCAR UN BLOG" />
        </div>
    </body>
</html>
