<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nuevo contraseña</title>
        <link rel="stylesheet" href="static/css/nuevaPassword.css" />
    </head>
    <body>
        <div class="recContrasena2">
            <h1>RECUPERACIÓN DE CONTRASEÑA</h1>
            <br />
            <form action="/nuevaPassword" method="POST">
                <label for="">Ingresa tu nueva contraseña</label>
                <input type="password" placeholder="CONTRASEÑA" />
                <label for="">Confirma tu nueva contraseña</label>
                <input type="password" placeholder="CONTRASEÑA" />
                <input type="submit" value="CAMBIAR" />
            </form>
        </div>
    </body>
</html>
