<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recuperar Contraseña</title>
        <link rel="stylesheet" href="static/css/recuperarPassword.css" />
    </head>
    <body>
        <div class="cajarecuperacion">
            <h1>RECUPERAR CONTRASEÑA</h1>
            <br />
            <form action="/recuperarPassword" method="POST">
                <label for="nomusuario"></label>
                <input
                    type="email"
                    name="nomusuario"
                    id="nomusuario"
                    placeholder="CORREO ELECTRÓNICO"
                />
                <input type="submit" value="ENVIAR MAIL" />
            </form>
        </div>
    </body>
</html>
