<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registro</title>
        <link rel="stylesheet" href="static/css/registro.css" />
    </head>
    <body>
        <div class="cajalogin">
            <h1>REGISTRO</h1>
            <br />
            <form action="/registrar" method="post">
                <!-- <label for="nomusuario"></label> -->
                <input
                    type="text"
                    name="nombre"
                    id="nombre"
                    placeholder="NOMBRE COMPLETO"
                />
                <input
                    type="text"
                    name="apellido"
                    id="apellido"
                    placeholder="APELLIDOS"
                />
                <input
                    type="email"
                    name="nomusuario"
                    id="nomusuario"
                    placeholder="CORREO ELECTRÓNICO"
                />
                <!-- <label for="pass">Contraseña</label> -->
                <input
                    type="password"
                    name="pass"
                    id="pass"
                    placeholder="CONTRASEÑA"
                />
                <input
                    type="password"
                    name="passver"
                    id="passver"
                    placeholder="CONFIRMACION CONTRASEÑA"
                />
                <input type="submit" value="REGISTRESE" />
            </form>
        </div>
    </body>
</html>
